<ion-view view-title="SOBRE" id="about">
  <ion-header-bar>
    <button class="button button-icon icon ion-android-arrow-back back-icon"></button>
  </ion-header-bar>

  <ion-content>

    <h3 class="main-title" style="padding: 10% 0 !important;">VIGILANT</h3>

    <p style="letter-spacing: 0.8px;"><span style="font-weight: bold;">Contato: </span>vigilant@gmail.com</p>
   <p class="about-text">
     Vigilant é um aplicativo para celular, inicialmente apenas com versão para Android. O aplicativo tem como principal objetivo melhorar o trânsito da cidade utilizando um sistema de denûncia anônima de irregularidades como, por exemplo, parar em lugares proibidos, em vagas para deficientes ou idosos, em lugares com horários impróprios entre outras diversas situações que contribuem para um trânsito cada dia mais caótico.
     O público alvo do aplicativo é qualquer pessoa que deseja contribuir para um trânsito melhor e ajudar a fiscalizar irregularidades, podendo no futuro ser uma fonte de informação para as autoridades responsáveis.
   </p>

  </ion-content>
</ion-view>
