<ion-view view-title="Inicio" hide-nav-bar="true" scroll="false">
  <ion-content class="padding">

    <h3 class="main-title">VIGILANT</h3>
    <!--img src="img/hero.png" class="main-image"/-->

    <div class="row top-row">
        <button class="button button-block icon-left fb-button ion-social-facebook" ng-click="home()">Login via Facebook</button>
    </div>

    <div class="row button-row">
      <div class="col">
        <button class="button button-block button-positive" ng-click="login()">Login</button>
      </div>
      <div class="col">
        <button class="button button-block alt-flux-button" ng-click="signup()">Cadastrar</button>
      </div>
    </div>

  </ion-content>
</ion-view>
