<ion-view view-title="FAQ" id="about">
  <ion-header-bar>
    <button class="button button-icon icon ion-android-arrow-back back-icon"></button>
  </ion-header-bar>

  <ion-content>

   <p class="about-text" style="margin-bottom: 20%">
    <b>Eu não possuo um veículo. Posso utilizar o aplicativo?</b><br>
    Mas é claro! O Vigilant foi feito para todas as pessoas com espírito colaborativo! Basta indicar na hora do cadastro que não você não possui um veículo.
<br><br>
    <b>Quais são as denúncias que eu possuo acesso?</b><br>
    As denúncias são filtradas de acordo com sua localização. Então é muito importante que você habilite o GPS para uma melhor experiência.

    <b>Quais os dos meus dados são compartilhados com outros usários?</b><br>
    Nenhum dos seus dados é disponibilizado para a rede de usuários. Todas as denúncias são feitas de forma anônima, visando proteger a privacidade dos usuários.
<br><br>
    <b>Eu acredito que criaram uma denúncia para o meu carro de maneira errônea. Como posso proceder?</b><br>
    Vá até a denúncia, e reporte como spam. Digite uma justificativa clara, e então um de nossos administradores irá avaliar a vericidade da denúncia. Caso ela seja considerada falsa, será apagada.
<br><br>
    <b>Não quero continuar usando o Vigilant. Os meus dados continuarão na base de dados do aplicativo?</b><br>
    Ao encerrar sua conta, todos os seus dados são apagados do nosso servidor. Essa é uma operação irreversível.
   </p>

  </ion-content>
</ion-view>
