<ion-modal-view hide-nav-bar="true">

	<button class="button button-icon icon ion-android-arrow-back modal-back-icon" style="color: white !important" ng-click="closeInfracao()"></button>

	<ion-content>
		<img src="img/carro2.jpg" class="carro-img"/>

		<ion-list id="card-list">
		  <div class="card item item-avatar-left" type="item-text-wrap" style="margin: 0 5px; font-size: 16px">
		 	<img  src="img/warning.png"/>
		    Veículo estacionado em local proibido
		  </div>

		  <h3 class="card-title" style="margin-top: 30px !important;">Localização</h3>
		  <div class="card item card-adjust" type="item-text-wrap">
		  	<i class="icon ion-location"></i>
		    <p>Rua Alagoas, 345 - Funcionários</p>
		  </div>

		  <h3 class="card-title">Data e hora</h3>
		  <div class="card item card-adjust" type="item-text-wrap">
		  	<i class="icon ion-android-time"></i>
		    <p>17/10/2016 - 12:16</p>
		  </div>
		</ion-list>

	</ion-content>
</ion-modal-view>